* {
  margin: 0;
  padding: 0px;
}

nav ul {
  list-style: none;
  background: grey;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 20px;
  color: white;
}

nav a:hover {
  background: lime;
}

.paragraph p {
  background-color: green;
}
